.example-margin {
  margin: 10px;
}

mat-card.mat-card{
  width: 35%;
  text-align: center;
  margin: 2em auto;
  margin-bottom: 10%;
}

mat-form-field.mat-form-field {
  width: 100%;
}

.mat-raised-button{
  margin: 15px;
}
