<div class="task-conteiner" *ngIf="viewTable && errorTask == ''">
  <mat-form-field [hidden]="!tasks">
    <input matInput (keyup)="loadData($event.target.value)"
        placeholder="Filter by title (or part of it)...">
  </mat-form-field>

  <table mat-table [dataSource]="tasks" class="mat-elevation-z8"[hidden]="!tasks"
      matSort (matSortChange)="loadData()"
      matSortActive="{{defaultSortColumn}}" matSortDirection="{{defaultSortOrder}}">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="[element.id]">
          {{ element.title }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="startedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startedDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  Deadline </th>
      <td mat-cell *matCellDef="let element"> {{element.deadline | date}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element">{{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
      <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
    </ng-container>

    <ng-container matColumnDef="assignee" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignee </th>
      <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
    </ng-container>

    <ng-container matColumnDef="execution" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
      <td mat-cell *matCellDef="let element"> {{element.execution}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination directive -->
  <mat-paginator [hidden]="!tasks"
      (page)="getData($event)"
      [pageSize]="10"
      [pageSizeOptions]="[3,5,10, 20, 50]"
      showFirstLastButtons></mat-paginator>


  <button mat-raised-button *ngIf="curUser.role != 'Specialist'" color="primary" (click)="ToggleTableForm()">Create task</button>

</div>

<div class="task-conteiner" *ngIf="viewForm">
  <mat-card >
    <mat-card-content>
  <h2 class="mat-h2">Create new task</h2>
  <mat-error color="red" *ngIf="errorTask != ''">{{errorTask}}</mat-error>
  <form [formGroup]="taskForm" (ngSubmit)="sendTask()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title"
                      type="text"
                      required
                      placeholder="Title of task">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"
                      type="text"
                      required
                      placeholder="Description">
      </textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Deadline</mat-label>
      <input matInput formControlName="deadline"
                      type="date"
                      required
                      placeholder="Deadline">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Assignee</mat-label>
      <input matInput formControlName="assignee"
                      type="text"
                      required
                      [matAutocomplete]="auto"
                      placeholder="Assignee"
                      (click)="updateValidAssignees()">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let assignee of assignees" [value]="assignee.login">
          {{assignee.login}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Remark</mat-label>
      <textarea matInput formControlName="remark"
                          type="text"
                          placeholder="Remark">
    </textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="ToggleTableForm()">Cancel</button>
    <button mat-raised-button [disabled]="!taskForm.valid" color="primary">Save</button>
  </form>
</mat-card-content>
</mat-card>
</div>

<h2 *ngIf="errorTask != ''">{{errorTask}}</h2>
