table {
  width: 100%;
}
.mat-row:hover > .mat-cell {
  background-color:  rgb(213, 212, 212)
}

.mat-raised-button{
  margin: 15px;
}

mat-form-field.mat-form-field {
  width: 100%;
}

mat-card.mat-card{
  width: 50%;
  text-align: center;
  margin: 2em auto;
}

a, u {
  text-decoration: none;
}

.task-conteiner{
  margin-bottom: 10%;
}
