<header>
  <mat-toolbar color="primary" class="exp-toolbar">
    <div>
    <button  mat-button routerLink="">
      <span id="title">tts</span>
    </button>
    <button mat-button *ngIf="role == 'Manager'" (click)="routerLinkReload('/company')">Company</button>
    <button mat-button *ngIf="role == 'Manager'" (click)="routerLinkReload('/users')">Users</button>
    <button mat-button *ngIf="role == 'Manager'" (click)="routerLinkReload('/list-status')">List status</button>
    <button mat-button *ngIf="login != ''" (click)="routerLinkReload('/job-task')">Tasks</button>
    </div>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button id="login" routerLink="/user-profile/{{profilId}}" *ngIf="isAuth">{{login}}</button>
      <button mat-button routerLink="/login" *ngIf="!isAuth">Login</button>
      <button mat-button routerLink="/register" *ngIf="!isAuth">Register</button>
      <button mat-button *ngIf="isAuth" (click)='logout()'>Logout</button>
    </div>
  </mat-toolbar>
</header>


<main>
<router-outlet></router-outlet>
</main>
<footer>
  <mat-toolbar  color="primary" class="exp-toolbar">
    <p>Copyright © 2020</p>
    <p>Andrii Slyzhuk</p>
    <p>
      <a href="http://www.freepik.com">Designed by katemangostar / Freepik</a>
    </p>
  </mat-toolbar>
</footer>

