<div >
  <mat-card >
    <mat-card-content>
  <h2 class="mat-h2">{{titleTask}}</h2>
  <mat-error color="red" *ngIf="errorTask != ''">{{errorTask}}</mat-error>
  <form [formGroup]="taskFormView" (ngSubmit)="save()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title"
                      type="text"
                      required
                      readonly={{readonlyManager.title}}
                      placeholder="Title of task">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"
                      type="text"
                      required
                      readonly={{readonlyManager.description}}
                      placeholder="Description">
      </textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Owner</mat-label>
      <input matInput formControlName="owner"
                      type="text"
                      required
                      readonly={{readonlyManager.owner}}
                      placeholder="Owner">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Start date</mat-label>
      <input matInput formControlName="startedDate"
                      type="date"
                      required
                      readonly={{readonlyManager.startedDate}}
                      placeholder="Start date">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Deadline</mat-label>
      <input matInput formControlName="deadline"
                      type="date"
                      required
                      readonly={{readonlyManager.deadline}}
                      placeholder="Deadline">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Assignee</mat-label>
      <input matInput formControlName="assignee"
                      type="text"
                      required
                      readonly={{readonlyManager.assignee}}
                      [matAutocomplete]="autoAssignee"
                      placeholder="Assignee"
                      (click)="updateValidAssignees()">
      <mat-autocomplete #autoAssignee="matAutocomplete">
        <mat-option *ngFor="let assignee of assignees" [value]="assignee.login">
          {{assignee.login}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <input matInput formControlName="status"
                      type="text"
                      required
                      readonly={{readonlyManager.status}}
                      [matAutocomplete]="autoStatus"
                      placeholder="Status"
                      (click)="updateValidStatus()">
      <mat-autocomplete #autoStatus="matAutocomplete">
        <mat-option *ngFor="let item of status" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Remark</mat-label>
      <textarea matInput formControlName="remark"
                          type="text"
                          readonly={{readonlyManager.remark}}
                          placeholder="Remark">
    </textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="back()">{{cancelBack}}</button>
    <button mat-raised-button *ngIf="!editState" color="primary" (click)="edit()">Edit</button>
    <button mat-raised-button *ngIf="editState" [disabled]="!taskFormView.valid" color="primary">Save</button>
  </form>
</mat-card-content>
</mat-card>
</div>


