

<div >
  <mat-card >
    <mat-card-header>
      <mat-card-title>{{titleUserProfile}}</mat-card-title>
      <mat-card-subtitle >
        <div *ngIf="errorUserPro != ''">
          <mat-error>
          {{errorUserProArray}}
        </mat-error>
        </div>
        <div *ngIf="errorArray.length > 0">
            <mat-error *ngFor="let error of errorArray">
              {{ error }}
            </mat-error>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
  <form *ngIf="createdForm" [formGroup]="userProFrom" (ngSubmit)="save()">
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput formControlName="login"
                      type="text"
                      required
                      readonly={{readonlyAccess.login}}
                      placeholder="login">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <input matInput formControlName="role"
                      type="text"
                      required
                      [matAutocomplete]="autoRole"
                      readonly={{readonlyAccess.role}}
                      placeholder="Role"
                      (click)="updateValidRoles()">
      <mat-autocomplete #autoRole="matAutocomplete">
        <mat-option *ngFor="let item of roles" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName"
                      type="text"
                      required
                      readonly={{readonlyAccess.firstName}}
                      placeholder="First Name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Second Name</mat-label>
      <input matInput formControlName="secondName"
                      type="text"
                      required
                      readonly={{readonlyAccess.secondName}}
                      placeholder="Second Name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"
                      type="email"
                      readonly={{readonlyAccess.secondName}}
                      placeholder="@mail">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Birthday</mat-label>
      <input matInput formControlName="birthdayDay"
                      type="date"
                      required
                      readonly={{readonlyAccess.birthdayDay}}
                      placeholder="Birthday">
    </mat-form-field>
    <br>
    <button mat-raised-button *ngIf="editState" color="primary" (click)="cancel()">Cancel</button>
    <button mat-raised-button *ngIf="!editState" color="primary" (click)="edit()">Edit</button>
    <button mat-raised-button *ngIf="editState" [disabled]="!userProFrom.valid" color="primary">Save</button>
  </form>
</mat-card-content>
</mat-card>
</div>
