
  <mat-card >
    <mat-card-header>
      <mat-card-title>Task status list</mat-card-title>
      <mat-card-subtitle *ngIf="errorStatus != ''">
        <mat-error color=red>{{errorStatus}}</mat-error>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <form *ngFor="let status of statusArray; let i = index;" #ngForm="ngForm" [formGroup]="statusArrayForms[i]" (ngSubmit)="sendStatus(ngForm)">
      <!-- <div *ngIf="statusArrayForms[i] == status"> -->
        <mat-form-field  appearance="fill">
          <input  matInput formControlName="name"
                          type="text"
                          required
                          readonly={{!ngForm.form.value.editable}}
                          placeholder="Title of task">
        </mat-form-field>

        <mat-form-field class="order" appearance="fill">
          <input  matInput formControlName="order"
                          type="number"
                          required
                          readonly={{!ngForm.form.value.editable}}
                          placeholder="order status">
        </mat-form-field>

        <button  mat-mini-fab *ngIf="!ngForm.form.value.editable" class="mini-fab-container" color="primary" (click)="editForm(ngForm)">
          <mat-icon>edit</mat-icon>
        </button>

        <button  mat-mini-fab *ngIf="ngForm.form.value.editable" class="mini-fab-container" color="primary"(click)="cancelForm(ngForm)">
          <mat-icon>cancel</mat-icon>
        </button>
        <button  mat-mini-fab *ngIf="ngForm.form.value.editable" [disabled]="statusArrayForms[i].invalid" class="mini-fab-container" color="primary">
          <mat-icon>save</mat-icon>
        </button>

        <button  mat-mini-fab class="mini-fab-container" *ngIf="ngForm.value.id !==''" color="primary" (click)="removeStatus(status.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <!-- </div> -->
    </form>
    <button  mat-raised-button [disabled]="disabledAddRow()" color="primary" (click)="addRowStatus()">Add</button>
    </mat-card-content>
  </mat-card>



